<div class="buses schedule" data-id="<%= stopId %>">
<h1>Bus Stop: <%= stopName %></h1>
<div class='bus-spinner centered'></div>
<table  class="buses table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Terminus</th>
            <th>Scheduled Arrival</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
</div>
