<div class="schedule">
  <h1>Today's Campus Events</h1>
  <table id='campus-events' class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Room</th>
          </tr>
        </thead>
        <tbody>     
        </tbody>
    </table>
</div>
