<div class="container schedule">
  <h1>Join Us On <a href='https://www.facebook.com/pages/World-Maritime-University-headquarters/342526129176907'>WMU Facebook Page</a></h1>
   <div id="weather-container">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FWorld-Maritime-University-headquarters%2F342526129176907&amp;width=&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=134443340061776" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:590px;" allowTransparency="true"></iframe>
   </div>
</div>
<script>
  jQuery(function($) { $('#facebook').addClass('active'); });
</script>
