  <div class='well index'>
  <h1>Welcome to the World Maritime University Dashboard</h1>
  <p>Founded in 1983 by the International Maritime Organization (IMO), a specialized agency of the United Nations, WMU is a center of excellence for maritime post-graduate education and research. WMU offers M.Sc. and Ph.D. programs as well as Professional Development Courses with the highest standards in maritime affairs. Headquartered in Malmö, Sweden with additional M.Sc. programs in Shanghai and Dalian, China,  WMU promotes the international exchange and transfer of maritime ideas and knowledge.</p>
</div>

