
/*.navbar-brand {
  font-size: 28px;
}*/

.navbar { min-height: 54px;}
.navbar-header { width: 100%; }

.reveal.cube .slides section:not(.stack):before {
  -webkit-transform: translateZ( 0px );
  -moz-transform: translateZ( 0px );
  -ms-transform: translateZ( 0px );
  -o-transform: translateZ( 0px );
  transform: translateZ( 0px );
  
  
}

div.schedule { 
 padding-top: 20px;
}

#weather div.schedule {
  padding-top: 50px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}
/*.reveal .slides {
  left: 35%;
}
 */

/*#main { 
  margin-top: 60px;
  
}*/

#buses { 
  position: relative;
 }
#calendar { font-size: 36px; }
#calendar td { padding: 30px 0;}